/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

::selection {
    color:white;
	background: #a85661a4; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    color:white;
	background:  #ba606c77; /* Gecko Browsers */
  }

.centrepass {
    float: center;
	position: -webkit-sticky;
	/* position: fixed; */
	/* top: 20%; */
	left:0%;
	right:0%;
	text-align: center;
    z-index: 1 !important;
    margin-right: auto;
    margin-left: auto;
}

.centrepass h1{
    font-family: 'Maven Pro', sans-serif;
    /* font-family: "Posterama Text Bold"!important; */
    font-size:2em;
    font-weight: 400;
}

.centrepass p {
    font-family: "Posterama Text W07 Regular"!important;
}

.centrepass img{
    float: center;
    margin-top: 50px;
    height: 13em;
    width: auto;
}

.hind {
	font-family: 'Hind Siliguri'!important;
	font-size: 20px;
	margin-bottom: 40px;
}
.onpc {
	font-size: 50px;
	height: 300px;
	margin-top: 50px;
	vertical-align: middle;
	/* display: none; */
}

.onphone {
	display: none;
}

.eyes {
	height: 25px !important;
}

@media screen and (max-width: 700px) {

    .centrepass h1{
        font-family: 'Maven Pro', sans-serif;
        /* font-family: "Posterama Text Bold"!important; */
        font-size: 50px;
        font-weight: 400;
    }
    
    .centrepass p {
        font-family: "Posterama Text W07 Regular"!important;
        font-size: 30px;
    }
    
    .centrepass img{
        margin-top: 30px;
        float: center;
		height: auto;
		width: 60%;
    }
	.mainfade {
		height: 3em;
	}
    .animation {
		font-size: 10px !important;
	}
	
	.wrapper { 
		position: fixed !important;
		overflow: scroll !important;
	}

	.onpc {
		display: none;
	}

	.onphone {
		display: block;
	}
	
	.hind {
		font-family: 'Hind Siliguri'!important;
		font-size: 20px;
	}

	.eyes {
		height: 18px !important;
		width: 20px !important;
	}
}



.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
	bottom: 0;
	position: fixed;
  background: linear-gradient(40deg, #675680, #BA606C, #E69172, #e7b836c9);
  background-size: 200% 200%;
  
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

