/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

.centrepass {
    float: center;
	position: -webkit-sticky;
	/* position: fixed; */
	/* top: 20%; */
	left:0%;
	right:0%;
	text-align: center;
    z-index: 1 !important;
    margin-right: auto;
    margin-left: auto;
}

.centrepass h1{
    font-family: 'Maven Pro', sans-serif;
    /* font-family: "Posterama Text Bold"!important; */
    font-size:2em;
    font-weight: 400;
}

.centrepass p {
    font-family: "Posterama Text W07 Regular"!important;
}

.centrepass img{
    float: center;
    margin-top: 50px;
    height: 13em;
    width: auto;
}

.hind {
	font-family: 'Hind Siliguri'!important;
	font-size: 30px;
}
.onpc {
	font-size: 50px;
	height: 300px;
	margin-top: 50px;
	vertical-align: middle;
	/* display: none; */
}

.onphone {
	display: none;
}

.eyes {
	height: 25px !important;
}

@media screen and (max-width: 700px) {

    .centrepass h1{
        font-family: 'Maven Pro', sans-serif;
        /* font-family: "Posterama Text Bold"!important; */
        font-size: 50px;
        font-weight: 400;
    }
    
    .centrepass p {
        font-family: "Posterama Text W07 Regular"!important;
        font-size: 30px;
    }
    
    .centrepass img{
        margin-top: 30px;
        float: center;
		height: auto;
		width: 60%;
    }

    main {
		font-size: 10px;
		margin-left: 10% !important;
	}
	
	.wrapper { 
		position: static !important;
	}

	.onpc {
		display: none;
	}

	.onphone {
		display: block;
	}
}


  /* MOTION TEXT */

 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
 @import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
 body {
	 margin: 0;
}
 main {
	 font-family: "Posterama Text W07 Regular";
	 /* text-transform: uppercase; */
	 line-height: 1;
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
	 margin-left: 100px;
}
 .animation {
	 width: 20em;
	 height: 4em;
	 margin: 1em auto;
	 position: relative;
}
 .arimo {
	 font-family: "Posterama Text W07 Regular";
}
 .red {
	 color:  #ffffff;
}
 .white {
	 color: rgba(255, 255, 255, 0.74);
}
 .light {
	 font-weight: 300;
}
 .bold {
	 font-weight: 700;
}
 .mask {
	 overflow: hidden;
	 position: relative;
}
/********************* * Animation 1 *********************/
 @keyframes animation-1-slash {
	 0% {
		 opacity: 0;
		 transform: translate3d(6em, 0, 0);
	}
	 25% {
		 opacity: 0;
		 transform: translate3d(6em, 0, 0);
	}
	 45% {
		 opacity: 1;
	}
	 50% {
		 transform: translate3d(0, 0, 0);
	}
}
 @keyframes animation-1-text-1 {
	 0% {
		 left: -100%;
	}
	 45% {
		 left: -100%;
	}
	 65% {
		 left: 0;
	}
}
 @keyframes animation-1-text-2 {
	 0% {
		 left: -100%;
	}
	 55% {
		 left: -100%;
	}
	 75% {
		 left: 0;
	}
}
 #animation-1 div {
	 position: absolute;
}
 #animation-1 > div:first-child {
	 font-size: 4.8em;
	 top: -0.13em;
	 animation: 6s cubic-bezier(0.19, 0.76, 0.32, 1) infinite alternate both animation-1-slash;
}
 #animation-1 > div:nth-child(2), #animation-1 > div:nth-child(3) {
	 font-size: 2em;
	 height: 1em;
	 width: 5em;
}
 #animation-1 > div:nth-child(2) div, #animation-1 > div:nth-child(3) div {
	 animation: 6s cubic-bezier(0.19, 0.76, 0.32, 1) infinite alternate both;
}
 #animation-1 div:nth-child(2) {
	 top: 0;
	 left: 0.9em;
}
 #animation-1 div:nth-child(2) div {
	 animation-name: animation-1-text-1;
}
 #animation-1 div:nth-child(3) {
	 top: 0.8em;
	 left: 0.5em;
}
 #animation-1 div:nth-child(3) div {
	 animation-name: animation-1-text-2;
}
/********************* * Animation 2 *********************/
 
@keyframes animation-2-name {
	 0% {
		 transform: translate3d(0, 100%, 0);
	}
	 30% {
		 transform: translate3d(0, 100%, 0);
	}
	 60% {
		 transform: translate3d(0, 0, 0);
	}
}
 @keyframes animation-2-title {
	 0% {
		 transform: translate3d(0, -100%, 0);
	}
	 30% {
		 transform: translate3d(0, -100%, 0);
	}
	 60% {
		 transform: translate3d(0, 0, 0);
	}
}
 #animation-2 {
	 text-align: center;
}
 #animation-2 > div {
	 width: 100%;
	 height: 1em;
}
 #animation-2 > div div {
	 position: absolute;
	 width: 100%;
}
 #animation-2 > div:first-child {
	 font-size: 2.8em;
}
 #animation-2 > div:first-child div {
	 animation: 3s ease-out infinite alternate both animation-2-name;
}
 #animation-2 > div:last-child {
	 font-size: 1.1em;
}
 #animation-2 > div:last-child div {
	 animation: 3s ease-out infinite alternate both animation-2-title;
}

.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
	bottom: 0;
	position: fixed;
  background: linear-gradient(40deg, #675680, #BA606C, #E69172, #e7b836c9);
  background-size: 200% 200%;
  
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

  /* SURLIGN */



.fill-right:before {
    content: "";
    top: 0
}

.fill-right {
	margin-top: 100px !important;
	font-size: 60px !important;
	color: #ffffff;
    display: inline;
    text-decoration: none;
    -webkit-user-select: none
}

.fill-right {
    box-sizing: border-box;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden
}

.fill-right {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease
}

.fill-right {
    position: relative;
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    padding-bottom: 10px;
    transition: color 1s ease
}

.fill-right:focus,
.fill-right:hover {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease
}

.fill-right:focus,
.fill-right:hover {
    outline: 0;
    color: #e78e29;
    transition: color 1s ease;
    cursor: pointer
}

.fill-right:after,
.fill-right:before {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.fill-right:focus:after,
.fill-right:focus:before,
.fill-right:hover:after,
.fill-right:hover:before {
    outline: 0;
    background-color: #ffffff;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.fill-right:before {
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 100%;
    left: 0
}

.fill-right:focus:before,
.fill-right:hover:before {
    width: 100%;
    height: 100%
}

.fill-right:hover {
    color: #000000!important
}
