  /* SURLIGN */



  .fill-right:before {
    content: "";
    top: 0
}

.fill-right {
	margin-top: 100px !important;
	font-size: 60px !important;
	color: #ffffff;
    display: inline;
    text-decoration: none;
    -webkit-user-select: none
}

.fill-right {
    box-sizing: border-box;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden
}

.fill-right {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease
}

.fill-right {
    position: relative;
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    padding-bottom: 10px;
    transition: color 1s ease
}

.fill-right:focus,
.fill-right:hover {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease
}

.fill-right:focus,
.fill-right:hover {
    outline: 0;
    color: #e78e29;
    transition: color 1s ease;
    cursor: pointer
}

.fill-right:after,
.fill-right:before {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.fill-right:focus:after,
.fill-right:focus:before,
.fill-right:hover:after,
.fill-right:hover:before {
    outline: 0;
    background-color: #ffffff;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.fill-right:before {
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 100%;
    left: 0
}

.fill-right:focus:before,
.fill-right:hover:before {
    width: 100%;
    height: 100%
}

.fill-right:hover {
    color: #000000!important
}
